<strong>Hello, {{ organizer }}</strong>
<p>
  Hello, there is a new subscription to your Meetup {{ meetup }}!
</p>
<p>
  <strong>Name: </strong> {{ user }}>
  <strong>Email: </strong> {{ email }}>
  <br />
</p>
